---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

import ProfilePicture from "../assets/images/2024-avatar.png";

type Props = CollectionEntry<"blog">;

const { data, slug } = Astro.props;

const { title, description, pubDate, updatedDate, heroImage, canonicalUrl } =
  data;

const { default: headerImage } = await import(
  `../assets/images/blogs/${slug}/${heroImage.src}.png`
);
---

<html lang="en">
  <head>
    <BaseHead
      title={`Shaun Evening: ${title}`}
      description={description}
      canonicalUrl={canonicalUrl}
    />
    <style>
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
      }
      .title {
        margin-bottom: 2em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body class="bg-background text-foreground">
    <Header />
    <main class="pt-20">
      <article class="mx-2 lg:mx-0 !text-foreground mb-16">
        <div class="hero-image mb-4">
          {
            heroImage && (
              <Image
                width={1020}
                height={510}
                src={headerImage}
                alt={heroImage.alt}
                class="shadow-lg"
              />
            )
          }
        </div>
        <div class="title">
          <h1 class="text-foreground !mb-2">{title}</h1>
          <span class="text-foreground">{description}</span>
          <div class="mt-4">
            <div class="w-[40px] mx-auto">
              <Image src={ProfilePicture} alt="" class="rounded-full m-0" />
            </div>
            <span class="font-normal block mt-1">Shaun Evening</span>
            <FormattedDate date={pubDate} />
          </div>
        </div>
        <div class="prose dark:prose-invert prose-li:text-body mx-auto">
          <hr class="mb-8 mt-6" />
          <slot />
        </div>
      </article>
      <Footer />
    </main>
  </body>
</html>
